@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'colors';
@import 'fonts';
@import 'helpers';



html, body, #root {
    height: 100%;    
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
}